
h1 {
    text-align: center;
    color: rgb(247, 8, 8);
}
body {    
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(balanca.jpg);
    width: 97%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
article {
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(243, 165, 165);
    opacity: 0.9;
    border-radius: 10px;
    padding-top: 10px;
}
#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: rgb(243, 124, 124);
    opacity: 0.7;
    list-style-type: none;
    max-width: 50%;
    border-radius: 10px;
    margin: 0 auto;
}
#menu ul li {
display: inline;
}
#menu ul li a {
    padding: 5px 60px;
    display: inline-block;
    background-color: none;
    color: rgb(130, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    border-top: 3px solid none;
    border-bottom: 3px solid none;
    margin: 0 auto;
}
#formulario {
    background-color: rgb(243, 165, 165);
    margin-top: 40px;
    border-radius: 10px;
    padding-bottom: 30px;
    max-width: 50%;
    height: 50%;
    margin: 0 auto
}
button {
    border-radius: 5px;
    background:#990000;
    color:#ffffff;
}
input{   
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:40px
}
 
textarea{
    border: 1px solid #000000;
    background:#cccccc;
    width:150px;
    height:100px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}
 
input:hover, textarea:hover{ 
         background: #ffffff; 
         border:1px solid #990000;
}